html, body {
  height: 100%;
}

$primary: rgb(175, 175, 175);
$secondary: darkred;

.list-group-item.active {
  background-color: $secondary !important;
}

.list-group-item.active > .host-action {
  background-color: $primary !important;
  color: $secondary !important;
}

pre code {
  color: #e83e8c !important
}

#nprogress .spinner {
  display: none !important;
}