  name: Deploy to github pages
  on:
    push:
      branches:
        - main
  jobs:
    gh-pages-deploy:
      name: Deploying to gh-pages
      runs-on: ubuntu-latest
      steps:
        - name: Setup Node for use with actions
          uses: actions/setup-node@v2.1.2
          with:
            version:  12.x
        - name: Checkout branch
          uses: actions/checkout@v2

        - name: Clean install dependencies
          run: npm ci

        - name: Configure git
          run: git config user.name "AlexHalbesleben" && git config user.email "alexhalb@outlook.com"
  
        - name: Run deploy script
          run: npm run gh-pages-deploy
